In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style
# generate random integer values
from numpy.random import seed
from numpy.random import randint
from numpy.random import randn
import seaborn as sns
import statistics

In [183]:
df=pd.read_excel("~/Documents/DATASETS/FootballS.xlsx")

In [205]:
df.drop(['90s'],axis=1,inplace=True)

In [185]:
df.rename(columns={'Squad':'Club','Comp':'Leauge'},inplace=True)

In [186]:
df['Leauge'].unique()

array(['Premier League', 'Ligue1', 'Bundesliga', nan, 'Serie A',
       'es La Liga', 'Comp'], dtype=object)

In [187]:
df.dropna(inplace=T

In [201]:
df

,Player,Club,90s,PK,PKatt,Sh,SoT,FK,SoT%,Sh/90,SoT/90,G/Sh,G/SoT
0,Patrick van Aanholt,Crystal Palace,24,1,1,21,4,3,19.0,0.87,0.17,0.10,0.50
1,Max Aarons,Norwich City,30.0,0,0,13,3,0,23.1,0.43,0.10,0.00,0.00
2,Yunis Abdelhamid,Reims,28.0,0,0,19,5,0,26.3,0.68,0.18,0.16,0.60
3,Suleiman Abdullahi,Union Berlin,1.7,0,0,6,3,0,50.0,3.44,1.72,0.17,0.33
4,Mehdi Abeid,Nantes,20.2,0,0,33,7,3,21.2,1.63,0.35,0.03,0.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2754,Steven Zuber,Hoffenheim,8.3,0,1,9,3,0,33.3,1.08,0.36,0.22,0.67
2755,Player,Squad,90s,PK,PKatt,Sh,SoT,FK,SoT%,Sh/90,SoT/90,G/Sh,G/SoT
2758,Bongani Zungu,Amiens,11.0,0,0,7,1,0,14.3,0.64,0.09,0.14,1.00
2761,Martin Ødegaard,Real Sociedad,26.1,0,0,46,15,4,32.6,1.76,0.58,0.09,0.27
2762,Filip Đuričić,Sassuolo,12.6,0,0,24,5,2,20.8,1.91,0.40,0.17,0.80

In [118]:
source= requests.get('https://fbref.com/en/comps/Big5/shooting/players/Big-5-European-Leagues-Stats').text
soup=BeautifulSoup(source,'lxml')
table=soup.find_all('table')

In [121]:
ta=table[0]
dfs=pd.read_html(str(ta))
dfs=dfs[0]

In [194]:
df.drop(df.columns[-1],axis=1,inplace=True)
df

,Rk,Player,Nation,Pos,Club,Leauge,Age,90s,PK,PKatt,Sh,SoT,FK,SoT%,Sh/90,SoT/90,G/Sh,G/SoT
0,1,Patrick van Aanholt,nl NED,DF,Crystal Palace,Premier League,28,24,1,1,21,4,3,19.0,0.87,0.17,0.10,0.50
1,2,Max Aarons,eng ENG,DF,Norwich City,Premier League,19,30.0,0,0,13,3,0,23.1,0.43,0.10,0.00,0.00
2,3,Yunis Abdelhamid,ma MAR,DF,Reims,Ligue1,31,28.0,0,0,19,5,0,26.3,0.68,0.18,0.16,0.60
3,4,Suleiman Abdullahi,ng NGA,"FW,MF",Union Berlin,Bundesliga,22,1.7,0,0,6,3,0,50.0,3.44,1.72,0.17,0.33
4,5,Mehdi Abeid,dz ALG,MF,Nantes,Ligue1,26,20.2,0,0,33,7,3,21.2,1.63,0.35,0.03,0.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2754,2650,Steven Zuber,ch SUI,"DF,FW",Hoffenheim,Bundesliga,27,8.3,0,1,9,3,0,33.3,1.08,0.36,0.22,0.67
2755,Rk,Player,Nation,Pos,Squad,Comp,Age,90s,PK,PKatt,Sh,SoT,FK,SoT%,Sh/90,SoT/90,G/Sh,G/SoT
2758,2653,Bongani Zungu,za RSA,MF,Amiens,Ligue1,26,11.0,0,0,7,1,0,14.3,0.64,0.09,0.14,1.00
2761,2656,Martin Ødegaard,no NOR,MF,Real Sociedad,es La Liga,20,26.1,0,0,46,15,4,32.6,1.76,0.58,0.09,0.27
2762,2657,Filip Đuričić,rs SRB,"MF,FW",Sassuolo,Serie A,27,12.6,0,0,24,5,2,20.8,1.91,0.40,0.17,0.80

In [124]:
dfs.to_excel("~/Documents/DATASETS/FootballS.xlsx")

In [28]:
dfs=pd.read_excel("~/Documents/DATASETS/Footballl.xlsx")

In [29]:
dfs

,Unnamed: 0,Player,Nation,Pos,Club,Leauge,Age,MP,Starts,Min,Gls,Ast,PK,PKatt,CrdY,CrdR,Gls90,Ast90,G+A,Gls+Ast
0,0,Patrick van Aanholt,NED,DF,Crystal Palace,Premier Leauge,28,25,25,2162,3,1,1,1,0,0,0.12,0.04,0.17,4
1,1,Max Aarons,ENG,DF,Norwich City,Premier Leauge,19,30,30,2700,0,1,0,0,7,0,0.00,0.03,0.03,1
2,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue1,31,28,28,2520,3,0,0,0,0,0,0.11,0.00,0.11,3
3,3,Suleiman Abdullahi,NGA,"MF,FW",Union Berlin,Bundesliga,22,6,1,157,1,0,0,0,1,0,0.57,0.00,0.57,1
4,4,Mehdi Abeid,ALG,MF,Nantes,Ligue1,26,25,20,1817,1,2,0,0,5,0,0.05,0.10,0.15,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2644,2644,Bongani Zungu,RSA,MF,Amiens,Ligue1,26,21,10,992,1,0,0,0,4,0,0.09,0.00,0.09,1
2645,2645,Szymon Żurkowski,POL,MF,Fiorentina,Serie A,21,2,0,12,0,0,0,0,0,0,0.00,0.00,0.00,0
2646,2646,David Zurutuza,ESP,MF,Real Sociedad,La Liga,33,5,2,157,0,0,0,0,0,0,0.00,0.00,0.00,0
2647,2647,Martin Ødegaard,NOR,MF,Real Sociedad,La Liga,20,27,26,2301,4,5,0,0,3,0,0.16,0.20,0.35,9
2648,2648,Filip Đuričić,SRB,"MF,FW",Sassuolo,Serie A,27,21,13,1133,4,5,0,0,4,0,0.32,0.40,0.71,9

In [222]:
df

,Player,Club,PK,PKatt,Sh,SoT,FK,SoT%,Sh/90,SoT/90,G/Sh,G/SoT
0,Patrick van Aanholt,Crystal Palace,1,1,21,4,3,19.0,0.87,0.17,0.10,0.50
1,Max Aarons,Norwich City,0,0,13,3,0,23.1,0.43,0.10,0.00,0.00
2,Yunis Abdelhamid,Reims,0,0,19,5,0,26.3,0.68,0.18,0.16,0.60
3,Suleiman Abdullahi,Union Berlin,0,0,6,3,0,50.0,3.44,1.72,0.17,0.33
4,Mehdi Abeid,Nantes,0,0,33,7,3,21.2,1.63,0.35,0.03,0.14
...,...,...,...,...,...,...,...,...,...,...,...,...
1909,Steven Zuber,Hoffenheim,0,1,9,3,0,33.3,1.08,0.36,0.22,0.67
1910,Player,Squad,PK,PKatt,Sh,SoT,FK,SoT%,Sh/90,SoT/90,G/Sh,G/SoT
1911,Bongani Zungu,Amiens,0,0,7,1,0,14.3,0.64,0.09,0.14,1.00
1912,Martin Ødegaard,Real Sociedad,0,0,46,15,4,32.6,1.76,0.58,0.09,0.27
1913,Filip Đuričić,Sassuolo,0,0,24,5,2,20.8,1.91,0.40,0.17,0.80

In [212]:
df.head(20)

,Player,Club,PK,PKatt,Sh,SoT,FK,SoT%,Sh/90,SoT/90,G/Sh,G/SoT
0,Patrick van Aanholt,Crystal Palace,1,1,21,4,3,19.0,0.87,0.17,0.10,0.50
1,Max Aarons,Norwich City,0,0,13,3,0,23.1,0.43,0.10,0.00,0.00
2,Yunis Abdelhamid,Reims,0,0,19,5,0,26.3,0.68,0.18,0.16,0.60
3,Suleiman Abdullahi,Union Berlin,0,0,6,3,0,50.0,3.44,1.72,0.17,0.33
4,Mehdi Abeid,Nantes,0,0,33,7,3,21.2,1.63,0.35,0.03,0.14
5,David Abraham,Eint Frankfurt,0,0,7,4,0,57.1,0.37,0.21,0.29,0.50
6,Tammy Abraham,Chelsea,0,0,78,31,0,39.7,3.45,1.37,0.17,0.42
7,Amir Abrashi,Freiburg,0,0,5,2,0,40.0,0.68,0.27,0.00,0.00
8,Francesco Acerbi,Lazio,0,0,12,6,0,50.0,0.45,0.23,0.17,0.33
9,Che Adams,Southampton,0,0,21,3,0,14.3,2.50,0.36,0.00,0.00
10,Tyler Adams,RB Leipzig,0,0,7,1,0,14.3,0.66,0.09,0.00,0.00
11,Sargis Adamyan,Hoffenheim,0,0,20,10,0,50.0,2.41,1.21,0.25,0.50
12,Bobby Adekanye,Lazio,0,0,2,2,0,100.0,2.25,2.25,0.50,0.50
13,Yacine Adli,Bordeaux,0,0,18,6,1,33.3,1.59,0.53,0.17,0.50
14,Aritz Aduriz,Athletic Club,0,1,6,3,0,50.0,2.60,1.30,0.17,0.33
15,Lumor Agbenyenu,Mallorca,0,0,12,1,0,8.3,0.66,0.05,0.00,0.00
16,Martin Agirregabiria,Alavés,0,0,3,1,0,33.3,0.15,0.05,0.33,1.00
17,Kevin Agudelo,Genoa,0,0,10,2,0,20.0,1.35,0.27,0.10,0.50
18,Player,Squad,PK,PKatt,Sh,SoT,FK,SoT%,Sh/90,SoT/90,G/Sh,G/SoT
19,Nayef Aguerd,Dijon,0,0,5,1,1,20.0,0.47,0.09,0.20,1.00

In [202]:
l=[]
for i in range(0,len(df)):
    l.append(i)

In [56]:
df['Player'][2762]

'Filip Đuričić'

In [226]:
dfs=pd.read_excel("~/Documents/DATASETS/Footballl.xlsx")

In [227]:
dfs

,Unnamed: 0,Player,Nation,Pos,Club,Leauge,Age,MP,Starts,Min,Gls,Ast,PK,PKatt,CrdY,CrdR,Gls90,Ast90,G+A,Gls+Ast
0,0,Patrick van Aanholt,NED,DF,Crystal Palace,Premier Leauge,28,25,25,2162,3,1,1,1,0,0,0.12,0.04,0.17,4
1,1,Max Aarons,ENG,DF,Norwich City,Premier Leauge,19,30,30,2700,0,1,0,0,7,0,0.00,0.03,0.03,1
2,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue1,31,28,28,2520,3,0,0,0,0,0,0.11,0.00,0.11,3
3,3,Suleiman Abdullahi,NGA,"MF,FW",Union Berlin,Bundesliga,22,6,1,157,1,0,0,0,1,0,0.57,0.00,0.57,1
4,4,Mehdi Abeid,ALG,MF,Nantes,Ligue1,26,25,20,1817,1,2,0,0,5,0,0.05,0.10,0.15,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2644,2644,Bongani Zungu,RSA,MF,Amiens,Ligue1,26,21,10,992,1,0,0,0,4,0,0.09,0.00,0.09,1
2645,2645,Szymon Żurkowski,POL,MF,Fiorentina,Serie A,21,2,0,12,0,0,0,0,0,0,0.00,0.00,0.00,0
2646,2646,David Zurutuza,ESP,MF,Real Sociedad,La Liga,33,5,2,157,0,0,0,0,0,0,0.00,0.00,0.00,0
2647,2647,Martin Ødegaard,NOR,MF,Real Sociedad,La Liga,20,27,26,2301,4,5,0,0,3,0,0.16,0.20,0.35,9
2648,2648,Filip Đuričić,SRB,"MF,FW",Sassuolo,Serie A,27,21,13,1133,4,5,0,0,4,0,0.32,0.40,0.71,9

In [246]:
dfs.drop(['Leauge'],axis=1,inplace=True)

In [181]:
dfs=pd.read_excel("~/Documents/DATASETS/FootballS.xlsx")

In [256]:
o

,Player,Nation,Pos,Club,Leauge,Age,MP,Starts,Min,Gls,...,PK_y,PKatt_y,Sh,SoT,FK,SoT%,Sh/90,SoT/90,G/Sh,G/SoT
0,Patrick van Aanholt,NED,DF,Crystal Palace,Premier Leauge,28,25,25,2162,3,...,1,1,21,4,3,19.0,0.87,0.17,0.10,0.50
1,Max Aarons,ENG,DF,Norwich City,Premier Leauge,19,30,30,2700,0,...,0,0,13,3,0,23.1,0.43,0.10,0.00,0.00
2,Yunis Abdelhamid,MAR,DF,Reims,Ligue1,31,28,28,2520,3,...,0,0,19,5,0,26.3,0.68,0.18,0.16,0.60
3,Suleiman Abdullahi,NGA,"MF,FW",Union Berlin,Bundesliga,22,6,1,157,1,...,0,0,6,3,0,50.0,3.44,1.72,0.17,0.33
4,Mehdi Abeid,ALG,MF,Nantes,Ligue1,26,25,20,1817,1,...,0,0,33,7,3,21.2,1.63,0.35,0.03,0.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1802,Kurt Zouma,FRA,DF,Chelsea,Premier Leauge,24,22,19,1804,0,...,0,0,12,4,0,33.3,0.60,0.20,0.00,0.00
1803,Steven Zuber,SUI,WB,Hoffenheim,Bundesliga,27,14,10,749,2,...,0,1,9,3,0,33.3,1.08,0.36,0.22,0.67
1804,Bongani Zungu,RSA,MF,Amiens,Ligue1,26,21,10,992,1,...,0,0,7,1,0,14.3,0.64,0.09,0.14,1.00
1805,Martin Ødegaard,NOR,MF,Real Sociedad,La Liga,20,27,26,2301,4,...,0,0,46,15,4,32.6,1.76,0.58,0.09,0.27
1806,Filip Đuričić,SRB,"MF,FW",Sassuolo,Serie A,27,21,13,1133,4,...,0,0,24,5,2,20.8,1.91,0.40,0.17,0.80

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [228]:
o=pd.merge(dfs,df, on=['Player','Club'])

In [98]:
o[o.Player=='Eden Hazard']

,Player,Nation,Pos,Club,Leauge,Age,MP,Starts,Min,Gls,...,PK_y,PKatt_y,Sh,SoT,FK,SoT%,Sh/90,SoT/90,G/Sh,G/SoT
792,Eden Hazard,BEL,"MF,FW",Real Madrid,La Liga,28,14,13,1007,1,...,0,0,19,14,0,73.7,1.70,1.25,0.05,0.07

In [274]:
o.to_excel("~/Documents/DATASETS/Football1.xlsx")

In [179]:
o.drop_duplicates(subset =["Player"],keep ='first', inplace = True)

In [177]:
o=pd.read_excel("~/Documents/DATASETS/Football1.xlsx")

In [229]:
o.head(30)

,Unnamed: 0,Player,Nation,Pos,Club,Leauge,Age,MP,Starts,Min,...,PK_y,PKatt_y,Sh,SoT,FK,SoT%,Sh/90,SoT/90,G/Sh,G/SoT
0,0,Patrick van Aanholt,NED,DF,Crystal Palace,Premier Leauge,28,25,25,2162,...,1,1,21,4,3,19.0,0.87,0.17,0.10,0.50
1,1,Max Aarons,ENG,DF,Norwich City,Premier Leauge,19,30,30,2700,...,0,0,13,3,0,23.1,0.43,0.10,0.00,0.00
2,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue1,31,28,28,2520,...,0,0,19,5,0,26.3,0.68,0.18,0.16,0.60
3,3,Suleiman Abdullahi,NGA,"MF,FW",Union Berlin,Bundesliga,22,6,1,157,...,0,0,6,3,0,50.0,3.44,1.72,0.17,0.33
4,4,Mehdi Abeid,ALG,MF,Nantes,Ligue1,26,25,20,1817,...,0,0,33,7,3,21.2,1.63,0.35,0.03,0.14
5,6,David Abraham,ARG,DF,Eint Frankfurt,Bundesliga,33,20,19,1688,...,0,0,7,4,0,57.1,0.37,0.21,0.29,0.50
6,7,Tammy Abraham,ENG,FW,Chelsea,Premier Leauge,21,28,24,2034,...,0,0,78,31,0,39.7,3.45,1.37,0.17,0.42
7,8,Amir Abrashi,ALB,MF,Freiburg,Bundesliga,29,13,8,663,...,0,0,5,2,0,40.0,0.68,0.27,0.00,0.00
8,9,Francesco Acerbi,ITA,DF,Lazio,Serie A,31,27,27,2384,...,0,0,12,6,0,50.0,0.45,0.23,0.17,0.33
9,10,Che Adams,ENG,FW,Southampton,Premier Leauge,23,24,8,756,...,0,0,21,3,0,14.3,2.50,0.36,0.00,0.00
10,11,Tyler Adams,USA,"DF,MF",RB Leipzig,Bundesliga,20,14,10,953,...,0,0,7,1,0,14.3,0.66,0.09,0.00,0.00
11,12,Sargis Adamyan,ARM,"MF,FW",Hoffenheim,Bundesliga,26,15,6,746,...,0,0,20,10,0,50.0,2.41,1.21,0.25,0.50
12,14,Bobby Adekanye,NED,FW,Lazio,Serie A,20,3,0,80,...,0,0,2,2,0,100.0,2.25,2.25,0.50,0.50
13,17,Yacine Adli,FRA,"MF,FW",Bordeaux,Ligue1,19,21,11,1020,...,0,0,18,6,1,33.3,1.59,0.53,0.17,0.50
14,19,Aritz Aduriz,ESP,FW,Athletic Club,La Liga,38,14,0,208,...,0,1,6,3,0,50.0,2.60,1.30,0.17,0.33
15,20,Lumor Agbenyenu,GHA,DF,Mallorca,La Liga,22,21,18,1648,...,0,0,12,1,0,8.3,0.66,0.05,0.00,0.00
16,21,Martin Agirregabiria,ESP,DF,Alavés,La Liga,23,27,20,1763,...,0,0,3,1,0,33.3,0.15,0.05,0.33,1.00
17,24,Kevin Agudelo,COL,"MF,FW",Genoa,Serie A,20,10,7,666,...,0,0,10,2,0,20.0,1.35,0.27,0.10,0.50
18,25,Nayef Aguerd,MAR,DF,Dijon,Ligue1,23,11,11,957,...,0,0,5,1,1,20.0,0.47,0.09,0.20,1.00
19,26,Sergio Agüero,ARG,FW,Manchester City,Premier Leauge,31,24,18,1452,...,2,3,73,25,0,34.2,4.52,1.55,0.19,0.56
20,27,Ruben Aguilar,FRA,DF,Monaco,Ligue1,26,19,11,1072,...,0,0,7,3,0,42.9,0.59,0.25,0.00,0.00
21,29,Jean-Eudes Aholou,CIV,MF,Saint-Étienne,Ligue1,25,11,8,630,...,0,0,10,4,0,40.0,1.43,0.57,0.10,0.25
22,30,Joseph Aidoo,GHA,DF,Celta Vigo,La Liga,23,29,24,2232,...,0,0,10,1,0,10.0,0.40,0.04,0.00,0.00
23,31,Ola Aina,NGA,DF,Torino,Serie A,22,24,17,1647,...,0,0,11,2,0,18.2,0.60,0.11,0.00,0.00
24,35,Ludovic Ajorque,REU,FW,Strasbourg,Ligue1,25,26,24,2058,...,1,1,44,18,0,40.9,1.92,0.79,0.16,0.39
25,36,Manuel Akanji,SUI,DF,Dortmund,Bundesliga,24,29,25,2309,...,0,0,10,2,0,20.0,0.39,0.08,0.00,0.00
26,38,Nathan Aké,NED,DF,Bournemouth,Premier Leauge,24,26,26,2284,...,0,0,24,7,0,29.2,0.95,0.28,0.08,0.29
27,39,Chadrac Akolo,COD,"MF,FW",Amiens,Ligue1,24,15,5,544,...,0,0,9,4,0,44.4,1.49,0.66,0.22,0.50
28,41,David Alaba,AUT,DF,Bayern Munich,Bundesliga,27,28,27,2498,...,0,0,18,7,6,38.9,0.65,0.25,0.06,0.14
29,42,Sofiane Alakouch,FRA,DF,Nîmes,Ligue1,21,17,17,1400,...,0,0,10,4,0,40.0,0.64,0.26,0.00,0.00

In [231]:
o[o.Player=="Christian Eriksen"]

,Unnamed: 0,Player,Nation,Pos,Club,Leauge,Age,MP,Starts,Min,...,PK_y,PKatt_y,Sh,SoT,FK,SoT%,Sh/90,SoT/90,G/Sh,G/SoT
534,759,Christian Eriksen,DEN,"MF,FW",Tottenham,Premier Leauge,27,20,10,1097,...,0,0,26,9,7,34.6,2.13,0.74,0.08,0.22
535,760,Christian Eriksen,DEN,MF,Inter,Serie A,27,8,4,351,...,0,0,16,6,2,37.5,4.10,1.54,0.06,0.17

,Unnamed: 0,Player,Nation,Pos,Club,Leauge,Age,MP,Starts,Min,Gls,Ast,PK,PKatt,CrdY,CrdR,Gls90,Ast90,G+A,Gls+Ast
2167,2167,Leroy Sané,GER,FW,Manchester City,Premier Leauge,23,1,0,12,0,0,0,0,0,0,0.0,0.0,0.0,0

In [175]:
o.drop('Unnamed: 0',axis=1,inplace=True)

In [176]:
o

,Player,Nation,Pos,Club,Leauge,Age,MP,Starts,Min,Gls,...,PK_y,PKatt_y,Sh,SoT,FK,SoT%,Sh/90,SoT/90,G/Sh,G/SoT
0,Patrick van Aanholt,NED,DF,Crystal Palace,Premier Leauge,28,25,25,2162,3,...,1,1,21,4,3,19.0,0.87,0.17,0.10,0.50
1,Max Aarons,ENG,DF,Norwich City,Premier Leauge,19,30,30,2700,0,...,0,0,13,3,0,23.1,0.43,0.10,0.00,0.00
2,Yunis Abdelhamid,MAR,DF,Reims,Ligue1,31,28,28,2520,3,...,0,0,19,5,0,26.3,0.68,0.18,0.16,0.60
3,Suleiman Abdullahi,NGA,"MF,FW",Union Berlin,Bundesliga,22,6,1,157,1,...,0,0,6,3,0,50.0,3.44,1.72,0.17,0.33
4,Mehdi Abeid,ALG,MF,Nantes,Ligue1,26,25,20,1817,1,...,0,0,33,7,3,21.2,1.63,0.35,0.03,0.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1960,Kurt Zouma,FRA,DF,Chelsea,Premier Leauge,24,22,19,1804,0,...,0,0,12,4,0,33.3,0.60,0.20,0.00,0.00
1961,Steven Zuber,SUI,WB,Hoffenheim,Bundesliga,27,14,10,749,2,...,0,1,9,3,0,33.3,1.08,0.36,0.22,0.67
1962,Bongani Zungu,RSA,MF,Amiens,Ligue1,26,21,10,992,1,...,0,0,7,1,0,14.3,0.64,0.09,0.14,1.00
1963,Martin Ødegaard,NOR,MF,Real Sociedad,La Liga,20,27,26,2301,4,...,0,0,46,15,4,32.6,1.76,0.58,0.09,0.27
1964,Filip Đuričić,SRB,"MF,FW",Sassuolo,Serie A,27,21,13,1133,4,...,0,0,24,5,2,20.8,1.91,0.40,0.17,0.80

In [232]:
o.replace(np.nan,0,inplace=True)

In [265]:
o['G/SoT'].astype(float)

0       0.50
1       0.00
2       0.60
3       0.33
4       0.14
        ...
1802    0.00
1803    0.67
1804    1.00
1805    0.27
1806    0.80
Name: G/SoT, Length: 1807, dtype: float64

In [242]:
type(o['Age'])

pandas.core.series.Series

In [268]:
o.describe()

,Age,MP,Starts,Min,Gls,Ast,PK_x,PKatt_x,CrdY,CrdR,Gls90,Ast90,G+A,Gls+Ast
count,1807.000000,1807.000000,1807.000000,1807.000000,1807.000000,1807.000000,1807.000000,1807.000000,1807.000000,1807.000000,1807.000000,1807.000000,1807.000000,1807.000000
mean,25.646375,19.559491,15.272828,1365.827338,2.271168,1.511345,0.226342,0.280576,3.205866,0.140564,0.176918,0.097349,0.274322,3.782512
std,4.081196,8.055983,8.911541,761.212406,3.351594,2.049703,0.834747,0.949077,2.685573,0.378182,0.413444,0.133901,0.448292,4.628354
min,15.000000,1.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,14.000000,8.000000,705.500000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.060000,1.000000
50%,25.000000,21.000000,15.000000,1364.000000,1.000000,1.000000,0.000000,0.000000,3.000000,0.000000,0.080000,0.060000,0.180000,2.000000
75%,28.000000,26.000000,23.000000,1999.000000,3.000000,2.000000,0.000000,0.000000,5.000000,0.000000,0.230000,0.150000,0.370000,5.000000
max,39.000000,34.000000,34.000000,3029.000000,34.000000,21.000000,11.000000,12.000000,17.000000,2.000000,10.000000,1.800000,10.000000,39.000000

In [271]:
o=o.apply(pd.to_numeric, errors='ignore')

,Age,MP,Starts,Min,Gls,Ast,PK_x,PKatt_x,CrdY,CrdR,...,PK_y,PKatt_y,Sh,SoT,FK,SoT%,Sh/90,SoT/90,G/Sh,G/SoT
count,1807.000000,1807.000000,1807.000000,1807.000000,1807.000000,1807.000000,1807.000000,1807.000000,1807.000000,1807.000000,...,1807.000000,1807.000000,1807.000000,1807.000000,1807.000000,1807.000000,1807.000000,1807.000000,1807.000000,1807.000000
mean,25.646375,19.559491,15.272828,1365.827338,2.271168,1.511345,0.226342,0.280576,3.205866,0.140564,...,0.227449,0.281682,20.477587,7.029884,0.871610,35.742999,1.533127,0.578893,0.097947,0.271284
std,4.081196,8.055983,8.911541,761.212406,3.351594,2.049703,0.834747,0.949077,2.685573,0.378182,...,0.838418,0.952244,19.113591,7.689805,2.416515,17.303811,1.365491,0.928309,0.124247,0.281633
min,15.000000,1.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,1.000000,0.000000,5.300000,0.030000,0.030000,-0.080000,-0.500000
25%,23.000000,14.000000,8.000000,705.500000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,7.000000,2.000000,0.000000,25.000000,0.625000,0.170000,0.000000,0.000000
50%,25.000000,21.000000,15.000000,1364.000000,1.000000,1.000000,0.000000,0.000000,3.000000,0.000000,...,0.000000,0.000000,14.000000,4.000000,0.000000,33.300000,1.230000,0.400000,0.070000,0.250000
75%,28.000000,26.000000,23.000000,1999.000000,3.000000,2.000000,0.000000,0.000000,5.000000,0.000000,...,0.000000,0.000000,28.000000,9.000000,0.000000,42.900000,2.120000,0.780000,0.140000,0.430000
max,39.000000,34.000000,34.000000,3029.000000,34.000000,21.000000,11.000000,12.000000,17.000000,2.000000,...,11.000000,12.000000,143.000000,59.000000,32.000000,100.000000,30.000000,30.000000,1.000000,1.000000